body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;

    .header-top {
        background-color: #C8A35F;

        .top-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            padding: 16px 0;
            margin: 0 auto;
            color: #fff;
            font-size: 12px;

            .lang, .phone, .mail {
                cursor: pointer;
            }
        }
    }
    .header-main {
        background-color: #2F343A;

        .main-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            margin: 0 auto;
            padding: 42px 0;
            font-size: 14px;
            color: #ffffff;

            .header-main-left {
                width: 40%;
                display: flex;
                justify-content: flex-start;

                .main-logo {
                    display: flex;
                    justify-content: flex-start;
                    border-right: 1px solid #F2F2F2;
                    width: 200px;
                    cursor: pointer;
                }

                .main-geo {
                    display: flex;
                    justify-content: flex-end;
                    width: 180px;

                    p {
                        width: 100px;
                        padding: 0 0 0 13px;
                        cursor: pointer;
                    }
                }
            }

            .header-main-rigth {
                width: 40%;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    font-size: 14px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }

    .header-content {
        width: 100%;
        height: 620px;
        background: url("../img/rectangle2.jpg"), no-repeat, 50%, 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            border: 1px solid #C8A35F;
            box-sizing: border-box;
            width: 920px;
            height: 245px;
            padding: 45px 70px;
            flex-grow: 1;
            display: flex;
            margin-top: 155px;

            .header-tittle {
                font-weight: bold;
                font-size: 64px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                line-height: 75px;
                letter-spacing: 0.05em;


                .header-description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 45px;
                    text-transform: initial;
                    letter-spacing: initial;
                }
            }
        }

        .mouse {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            margin: 140px 0 40px;

        }
    }
}

.products {
    width: 100%;
    height: 561px;

    .products-content {
        display: flex;
        justify-content: space-between;

        .products-left {
            background: #E5E5E5;
            width: 700px;

            .left-content {
                display: flex;
                flex-direction: column;

                .left-title {
                    border-top: 2px solid #C8A35F;
                    border-width: 90px;
                }
            }
        }

        .products-center {
            background: #2F343A;
            width: 410px;
        }

        .products-right {
            background: #E5E5E5;
            width: 700px;
        }
    }
}