body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;

    .header-top {
        background-color: #C8A35F;

        .top-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            padding: 16px 0;
            margin: 0 auto;
            color: #fff;
            font-size: 12px;

            .lang, .phone, .mail {
                cursor: pointer;
            }
        }
    }
    .header-main {
        background-color: #2F343A;

        .main-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            margin: 0 auto;
            padding: 42px 0;
            font-size: 14px;
            color: #ffffff;

            .header-main-left {
                width: 40%;
                display: flex;
                justify-content: flex-start;

                .main-logo {
                    display: flex;
                    justify-content: flex-start;
                    border-right: 1px solid #F2F2F2;
                    width: 200px;
                    cursor: pointer;
                }

                .main-geo {
                    display: flex;
                    justify-content: flex-end;
                    width: 180px;

                    p {
                        width: 100px;
                        padding: 0 0 0 13px;
                        cursor: pointer;
                    }
                }
            }

            .header-main-rigth {
                width: 40%;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    font-size: 14px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }

    .header-content {
        width: 100%;
        height: 620px;
        background: url("../img/rectangle2.jpg"), no-repeat, 50%, 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            border: 1px solid #C8A35F;
            box-sizing: border-box;
            width: 920px;
            height: 245px;
            padding: 45px 70px;
            flex-grow: 1;
            display: flex;
            margin-top: 155px;

            .header-tittle {
                font-weight: bold;
                font-size: 64px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                line-height: 75px;
                letter-spacing: 0.05em;


                .header-description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 45px;
                    text-transform: initial;
                    letter-spacing: initial;
                }
            }
        }

        .mouse {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            margin: 140px 0 40px;

        }
    }
}

.products {
    position: relative;
    width: 100%;
    background-color: #393F47;

    .product-bg {
        width: 410px;
        height: 561px;
        background-color: #2F343A;
        margin: 0 auto;
    }

    .products-content {
        position: absolute;
        top: 120px;
        left: calc(50% - 525px);
        display: flex;
        justify-content: space-between;

        .products-left {
            width: 445px;
            position: relative;

            .left-content {
                display: flex;
                flex-direction: column;
                height: 321px;
                width: 400px;

                .title-border {
                    border-top: 6px solid #C8A35F;
                    width: 90px;
                    flex-grow: 1;
                    margin-bottom: 40px;
                }

                .left-title {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 49px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 30px;

                }
                .left-description {
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-bottom: 34px;
                }

                .left-button {

                    button {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: #C8A35F;
                        width: 220px;
                        height: 55px;
                        border: aliceblue;
                    }
                }
            }
        }

        .products-center {
            width: 445px;

            .image-avto {
                margin-top: 46px;
            }
        }

        .product-right {
            width: 160px;

            .right-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 321px;

                .forward-arrow, .back-arrow {
                    width: 160px;
                    font-weight: 500;
                    font-size: 16px;
                    color: #C8A35F;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                }
            }
        }
    }
}

.services {
    width: 100%;
    background-color: #2F343A;

    .services-content {
        width: 1108px;
        height: 504px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .services-border {
            border-top: 6px solid #C8A35F;
            width: 90px;
        }

        .services-title {
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 40px;
        }

        .services-cards {
            display: flex;
            justify-content: space-between;

            .card-blog {
                display: flex;
                flex-direction: column;

                .card_1 {
                    width: 276px;
                    height: 180px;
                    background: #C8A35F;

                    .elips  {

                        .air {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}