body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;

    .header-top {
        background-color: #C8A35F;

        .top-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            padding: 16px 0;
            margin: 0 auto;
            color: #fff;
            font-size: 12px;

            .lang, .phone, .mail {
                cursor: pointer;
            }
        }
    }
    .header-main {
        background-color: #2F343A;

        .main-content {
            display: flex;
            justify-content: space-between;
            width: 1110px;
            margin: 0 auto;
            padding: 42px 0;
            font-size: 14px;
            color: #ffffff;

            .header-main-left {
                width: 40%;
                display: flex;
                justify-content: flex-start;

                .main-logo {
                    display: flex;
                    justify-content: flex-start;
                    border-right: 1px solid #F2F2F2;
                    width: 200px;
                    cursor: pointer;
                }

                .main-geo {
                    display: flex;
                    justify-content: flex-end;
                    width: 180px;

                    p {
                        width: 100px;
                        padding: 0 0 0 13px;
                        cursor: pointer;
                    }
                }
            }

            .header-main-rigth {
                width: 40%;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    font-size: 14px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }

    .header-content {
        width: 100%;
        height: 620px;
        background: url("../img/rectangle2.jpg"), no-repeat, 50%, 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            border: 1px solid #C8A35F;
            box-sizing: border-box;
            width: 920px;
            height: 245px;
            padding: 45px 70px;
            flex-grow: 1;
            display: flex;
            margin-top: 155px;

            .header-tittle {
                font-weight: bold;
                font-size: 64px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                line-height: 75px;
                letter-spacing: 0.05em;


                .header-description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 45px;
                    text-transform: initial;
                    letter-spacing: initial;
                }
            }
        }

        .mouse {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            margin: 140px 0 40px;

        }
    }
}

.products {
    width: 100%;

    .products-content {
        display: flex;
        justify-content: space-between;
        height: 561px;

        .products-left {
            background: #393F47;
            width: 700px;
            padding: 120px 0 120px 0;
            position: relative;

            .left-content {
                display: flex;
                flex-direction: column;
                height: 321px;
                width: 400px;
                position: absolute;
                margin: 0;
                padding-left: 170px;

                .title-border {
                    border-top: 6px solid #C8A35F;
                    width: 90px;
                    flex-grow: 1;
                }

                .left-title {
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 49px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    flex-grow: 1;

                }
                .left-description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                    flex-grow: 1;
                }

                .left-button {

                    button {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: #C8A35F;
                        width: 220px;
                        height: 55px;
                        border: aliceblue;
                    }
                }
            }
        }

        .products-center {
            background: #2F343A;
            width: 410px;
        }

        .products-right {
            background: #393F47;
            width: 700px;
            padding: 120px 0;

            .right-content {
                display: flex;
                flex-direction: column;

                .forward {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #C8A35F;
                }

                .border-forward {
                    border: 3px solid #C8A35F;
                    width: 60px;

                    .forward-right {

                        .right {
                            border: solid #C8A35F;
                            border-width: 0 5px 5px 0;
                            display: inline-block;
                            padding: 6px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);

                        }
                    }
                }
            }
        }
    }
}